*::-webkit-input-placeholder {
    color: #d1d1d1;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

* {
    padding: 0;
    margin: 0;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

.header {
    background: #1e2024;
}

.header .logo a {
    display: block;
    margin-top: 17px;
}

.header_adress {
    margin-top: 13px;
    float: right;
}

.header_adress li {
    list-style: none;
}

.header_adress p,
address {
    font-size: 13px;
    color: #cfcfcf;
    line-height: 14px;
}

address {
    font-style: normal;
}

.button_top {
    margin-top: 10px;
}

.main_button {
    display: block;
    height: 50px;
    width: 215px;
    line-height: 50px;
    margin: 0 auto;
    text-align: center;
    background: #ffd25f;
    color: #1e2024;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}

.button_top .main_button:hover {
    background: #fff;
    transition: all .30s;
}

.top_phone a {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    text-decoration: underline;
    font-weight: lighter;
    text-align: right;
}

.top_phone a:hover {
    color: #ffd25f;
    transition: all.30s;
    cursor: pointer;
}

.top_social {
    text-align: right;
}

.top_social li {
    display: inline-block;
    list-style: none;
    margin-left: 8px;
    margin-top: 22px
}

.top_social a {
    color: #ffd25f;
    font-size: 15px;
}

.top_social a:hover {
    color: #ffffff;
    transition: all .30s;
}

/******menu******/

.header_menu {
    margin-top: 10px;
    border-top: 1px solid #43464d;
    border-bottom: 1px solid #43464d;
    text-align: center;
}

.header_menu ul {
    padding: 20px 0;
}

.header_menu li {
    display: inline-block;
    margin-left: 40px;
}

.header_menu a {
    display: inline-block;
    color: #cfcfcf;
}

.header_menu a:hover {
    color: #ffd25f;
    transition: all .30s;
}

/******top section******/
.top_content {
    background: #1e2024;
}

.top_content_left {
    position: relative;
}

.h1_top_wrapper {
    background: #ffd25f;
    margin-top: 50px;
    position: absolute;
    left: 16px;
    max-width: 900px;
    width: 800px;
    padding: 1px 20px;
    z-index: 1;
}

.h1_top_wrapper h1 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
}

.top_content_left p {
    margin-top: 200px;
    color: #cfcfcf;
    font-size: 16px;
}

.top_portfolio_btn {
    margin: 60px 0 0;
}

.top_portfolio_btn a:hover {
    background: #fff;
    transition: all .30s;
}

.slick-prev {
    left: 0px;
}

.slick-next {
    right: 0px;
}

.slick-prev:hover,
.slick-next:hover {
    background: #ffd25f !important;
}

.slick-prev,
.slick-next {
    background: #fff !important;
    height: 50px;
    width: 40px;
    z-index: 1;
}

.slick-next:before,
.slick-prev:before {
    color: #000;
}

.slick-dots li {
    margin: 1px;
}

.slick-dots li button {
    margin-top: 5px;
    background: #fff;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.slick-dots .slick-active button {
    background: #ffd25f;
}

/*******/
.top_features {
    margin-top: 30px;
    background: #27292d;
}

.top_feature_wrapper {
    max-width: 100%;
    width: 100%;
    padding: 15px 0;
    text-align: center !important;
}

.top_feature_wrapper .fas {
    font-size: 36px;
    color: #ffd25f;

}

.top_feature_wrapper h2 {
    display: inline-block;
    color: #fff;
    font-weight: normal;
    margin-left: 10px;
    font-size: 20px;
}

.top_features .col-md-4:nth-child(3) {
    border-left: 1px solid #4c4c4c;
}

.top_features .col-md-4:nth-child(2) {
    border-left: 1px solid #4c4c4c;
}

/******why we******/

.why_we {
    margin-top: 50px;
}

.section_headline {
    text-align: center;
}

.section_headline p {
    display: inline-block;
    font-size: 14px;
    color: #1e2024;
    position: relative;
}

.section_headline p:before {
    content: " ";
    height: 3px;
    width: 30px;
    background: #ffd25f;
    position: absolute;
    left: -40px;
    top: 9px;
}

.section_headline p:after {
    content: " ";
    height: 3px;
    width: 30px;
    background: #ffd25f;
    position: absolute;
    right: -40px;
    top: 9px;
}

.section_headline h2 {
    color: #1e2024;
    font-size: 24px;
}

.why_we_wrapper {
    margin-top: 50px;
}

.why_we_wrapper span {
    display: block;
    height: 40px;
    width: 40px;
    background: #ffd25f;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    float: left;
    margin: 0 20px 60px;
}

.why_we_wrapper h3 {
    font-size: 18px;
}

.why_we_wrapper p {
    font-size: 14px;
    margin-top: 10px;
    color: #848484;
}

/******portfolio******/

.portfolio {
    background: #f5f5f5;
    padding: 50px 0 80px;
    margin: 50px 0 0;
}

.portfolio_item {
    margin: 50px 0 -20px 0;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.portfolio_item img {
    width: 100%;
    height: 100%;
    text-align: center;
    height: 240px;
}

.portfolio_item h4 {
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

.portfolio_item h4 span {
    margin-left: 5px;
    font-weight: bold;
    font-size: 18px;
    color: #ffd25f;
}

.portfolio_item .portfolio_item_price {
    text-align: center;
}

.portfolio_item .portfolio_item_price span {
    margin-left: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #252736;
}

.portfolio_item figcaption {
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    height: 0;
    padding: 10px;
    background: #fff;
    vertical-align: middle;
    opacity: 0;
    transition: all .30s;
}

.portfolio_item:hover .figure_caption {
    height: 70px;
    opacity: 1;
    transition: all .30s;
}

.popup {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    display: none;
    text-align: center;
}

.popup_bg {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 10;
    height: 100%;
    width: 100%;
}


.popup_img {
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 10000;
}

/******why we line******/



.why_we_line {
    background: #fff;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.why_we_line_wrapper {
    max-width: 100%;
    width: 100%;
    padding: 15px 0;
    text-align: center;
}

.why_we_line_wrapper .fas,
.far {
    font-size: 36px;
    color: #ffd25f;
    margin: 10px 0;
    display: block;
}

.why_we_line_wrapper h2 {
    display: inline-block;
    color: #1e2024;
    font-weight: normal;
    margin-left: 10px;
    font-size: 23px;
}

.why_we_line .col-md-4:nth-child(3) {
    border-left: 1px solid #dedede;
}

.why_we_line .col-md-4:nth-child(2) {
    border-left: 1px solid #dedede;
}

.why_we_line_wrapper p {
    color: #a2a2a2;
}


/******ready_offers******/


.ready_offers {
    padding-top: 50px;
    background: #f5f5f5;
}

.all_offers_btn {
    margin: 20px 0;
    transition: all .30s;

}

.all_offers_btn a:hover {
    background: #1e2024;
    color: #fff;
    transition: all .30s;
}

.all_offers_btn .fas {
    margin-left: 8px;
}

.offers_slider {
    margin-top: 30px;
}

.offers_item {
    width: 95%;
    margin: 10px;
    border: 1px solid #eee;
}

.offers_item img {
    width: 100%;
    height: 240px !important;

}

.offers_item h4 {
    text-align: center;
    margin: 10px 0;
    font-size: 16px;
    font-weight: normal;
}

.offers_item h4 .offer_item_name {
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
    color: #ffd25f;
    max-width: 100%;
}

.offers_item .Offer_descr {
    color: #a5a5a5;
    margin: 10px
}

.offers_item .offer_item_price {
    text-align: center;
    font-size: 18px;
}

.offers_item .offer_item_price span {
    color: #ffd25f;
    font-weight: bold;
    font-size: 20px;
}

.offers_item .get_offer {
    display: block;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    background: #1e2024;
    color: #fff;
    transition: all .30s;

}

.offers_item .get_offer .fas {
    margin-left: 8px;
}

.offers_item .get_offer:hover {
    background: #ffd25f;
    color: #1e2024;
    transition: all .30s;
    font-weight: bold;
}

.offers_slider .slick-prev {
    background: #ffd25f !important;
}

.offers_slider .slick-next {
    background: #ffd25f !important;
}

/******about_us******/


.about_us {
    padding: 50px 0;
}

.about_us img {
    width: 100%;
    max-height: 400px;
    height: 100%;
}

.about_us .about_text {
    margin: 30px 0;
    font-size: 15px;
    color: #a3a3a3;
}

.about_us_fact {
    margin-top: 30px;
}

.about_us_fact span {
    display: block;
    height: 50px;
    width: 50px;
    float: left;
    text-align: center;
    line-height: 50px;
    background: #ffd25f;
    margin: 0 20px 30px 0
}

.about_us_fact h2 {
    font-size: 20px;
}

.about_us_fact p {
    font-size: 15px;
    color: #a3a3a3;
}

/******form******/
.form {
    background: #1e2024;
    padding: 50px 0;
    margin-top: 50px;
}

.form_side h5 {
    color: #fff;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.form_side h5 span {
    color: #ffd25f;
}

.form_side p {
    text-align: center;
    margin: 10px 0;
    color: #9d9d9d;
    font-size: 15px;
}

.bottom_form {}

.bottom_form input[type="text"] {
    display: block;
    width: 100%;
    margin: 20px auto;
    height: 40px;
    padding: 2px 10px;
    outline: none;
    border: 1px solid #656565;
    background: #292c31;
    color: #d9d9d9;
    font-size: 14px;
}

.bottom_form textarea[name="textarea"] {
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 20px auto;
    height: 120px;
    padding: 2px 10px;
    outline: none;
    border: 1px solid #656565;
    background: #292c31;
    color: #d9d9d9;
    font-size: 14px;
}

.bottom_form button {
    display: block;
    width: 220px;
    height: 40px;
    margin: 10px auto;
    outline: none;
    border: none;
    background: #ffd25f;
    font-weight: bold;
}

/******footer******/

.footer {
    background: #2f2e34;
    padding: 20px;
}

.footer .address_footer {
    text-align: center;
    font-size: 16px;
    line-height: 36px;
}

.footer_social {
    float: none;
    text-align: center;

}

.footer_social li {
    margin: 0 10px;
}

.footer_social li a {
    line-height: 36px;
    font-size: 20px;
}

.footer_tel {
    display: block;
    line-height: 36px;
    text-align: center;
    color: #e5e5e5;
    font-size: 18px;
    text-decoration: underline;
}

.footer_fa {
    color: #ffd25f;
    margin: 5px;
}

#toTop {
    width: 40px;
    height: 40px;
    border: 1px solid #ccc;
    background: #212429;
    text-align: center;
    line-height: 36px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #333;
    font-family: verdana;
    font-size: 11px;
    color: #fff;
    font-size: 30px;
    border-radius: 4px;
}

/******pop up******/
.popup_form {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 40px 20px;
    max-width: 420px;
    width: 100%;
    max-height: 400px;
    z-index: -1;
    background: #2f2e34;
    position: fixed;
    border-radius: 10px;
    display: none;
    opacity: 0;
    transition: all .30s;

}

.open_popup {
    display: block;
    opacity: 1;
    transition: all .30s;
    z-index: 10000;
}

.close_popup {
    position: absolute;
    top: -10px;
    right: -10px;
    height: 40px;
    width: 40px;
    background: #54535c;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;

}

.popup_form input[type="text"] {
    border: none;
    outline: none;
    background: #3a3845;
    width: 100%;
    margin: 10px 0;
    padding: 5px 10px;
    height: 40px;
    font-size: 14px;
}

.popup_form button {
    display: block;
    width: 200px;
    height: 40px;
    margin: 20px auto;
    background: #ffd25f;
    border: none;
    outline: none;
    font-weight: bold;
}

.popup_form .section_headline p {
    color: #bebebe;
}

.popup_form .section_headline h2 {
    color: #fff;
}

.call_popup_fixed {
    position: absolute;
    bottom: 10px;
    left: 10px;
    position: fixed;
    background: #ffd25f;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    z-index: 100;
    cursor: pointer;
    animation: shake 3s infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
