*::-webkit-input-placeholder {
    color: #666;
    opacity: 1;
}

*:-moz-placeholder {
    color: #666;
    opacity: 1;
}

*::-moz-placeholder {
    color: #666;
    opacity: 1;
}

*:-ms-input-placeholder {
    color: #666;
    opacity: 1;
}

* {
    margin: 0;
    padding: 0;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {}

body input:required:valid,
body textarea:required:valid {}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: #eceff1;
}
.gradient {
    background: -webkit-gradient(linear, left top, right bottom, from(#ff3e00), to(#ffbe30));
    background: -webkit-linear-gradient(top left, #ff3e00, #ffbe30);
    background: -o-linear-gradient(top left, #ff3e00, #ffbe30);
    background: linear-gradient(to bottom right, #ff3e00, #ffbe30);
    background: linear-gradient(to bottom right, #ffbe30 , #ff3e00)!important;
    transition: all .3s ease-in-out;
}
.gradient-hover:hover {
    background: linear-gradient(to top left, #ffbe30 , #ff3e00) !important;
    transition: all .3s ease-in-out;
}
.header {
    height: 80px;
    background: #212121;
    box-shadow: 0px 13px 15px -15px rgba(0, 0, 0, 0.25);
    z-index: 100;
    position: fixed;
    width: 100%;

}

.logo {
    margin: 15px 0;
    height: 50px;
    width: 170px;
    transition: all .30s;
}
.logo img {
    width: 100%;
    height: 100%;
     transition: all .30s;
}
.main_menu {

}

.main_menu ul {}

.main_menu li {
    list-style: none;
    display: inline;
    margin: 0 0 0 20px;
}
.main_menu li:first-child {
    margin: 0 0 0 0;
}
.main_menu a {
    display: inline-block;
    color: #fff;
    transition: all .30s;
    font-size: 16px;
    height: 80px;
    line-height: 80px;
}

.main_menu a:hover {
    color: #f0a81f;
    transition: all .30s;
}

.add_event {
    height: 50px !important;
    width: 200px;
    float: right;
    margin-top: 15px;
    line-height: 50px !important;
    text-align: center;
    color: #fff !important;
    background: #ff6644;
    border-radius: 5px;
    font-weight: 400 !important;
    transition: all .3s ease-in-out
}

.mobile_header_btn_style {
    display: block;
    height: 40px;
    width: 40px;
    margin: 10px 0;
    background: #ff6644;
    z-index: 10;
    font-size: 20px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    float: right;
    cursor: pointer;
    border-radius: 5px;
}

.sub_menu_container {
    position: relative;
}

.sub-menu {
    position: absolute;
    right: 0;
    top: 50px;
    background: #fff;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all .30s;
    font-weight: normal;
    border-radius: 5px;
}
.sub-menu:after {
    position: absolute;
    top:-10px;
    right: 20px;
    content: " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d4d3d3;
    z-index: 1000;
}
.sub-menu li {
    list-style: none;
    margin: 0;
}

.sub-menu li a {
    display: block;
    color: #6f6f6f;
    height: 40px !important;
    width: 200px;
    text-align: center;
    line-height: 40px !important;
    border-bottom: 1px solid #c3c3c3;
    font-size: 16px !important;
    font-weight: normal !important;
}

.sub-menu li:last-child a {
    border-bottom: none;
}

.sub-menu li a:hover {
    background: #ff6644;
    color: #fff;
}

.sub_menu_container:hover .computer-sub_menu {
    visibility: visible;
    opacity: 1;
    transition: all .30s;

}

.fa-chevron-down {
    font-size: 12px;
    margin-left: 5px;
}

.fa-plus {
    font-size: 12px;
    margin: 0 0 0 5px;
}

.scroll_active {
    height: 60px;
    transition: all .30s;
}
.scroll_active .logo {
    margin: 10px 0;
   height: 40px;
    width: 130px;
    transition: all .30s;
}
.scroll_active .add_event {
    height: 40px !important;
    margin-top: 10px;
    line-height: 40px !important;
}

.scroll_active .main_menu {}

.scroll_active .main_menu a {
    height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: 400;
}

.scroll_active .sub-menu {
    top: 40px;
}

.mobile_calendar_btn {}

.mobile_calendar_popup {
    position: absolute;
    background: #000;
    height: 250px;
    width: 250px;
    top: 60px;
    right: 0;
    background: #ff6644;
    display: none;
}

/***********************************************************************************/
.top_content {
    background: #fff;
    padding-top: 100px;
    padding-bottom: 20px;
}
.top-slider {
    padding-left: 10px;
}
.top-slider-item {
    position: relative;
    max-width: 555px;
    width: 100%;
    height: 350px;

}
.top-slider-item .slider-date{
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 90px;
    height: 80px;
    padding: 10px 15px;
    text-align: center;
    font-size: 22px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}
.top-slider-item figure {}
.top-slider-item figure img {
    width: 100%;
    height: 350px;
}
.top-slider-item .slider-descr {
    position: absolute;
    background: #fff;
    bottom: 0;
    top: 30px;
    width: 300px;
    right: 20px;
    padding: 20px;
    box-shadow: 0px 4px 22px -16px #000000;
}
.top-slider-item .headline-price {
    position: relative;
}
.top-slider-item .headline-price:before {
    content: "";
    position: absolute;
    height: 90px;
    width: 6px;
    left: -23px;
    background: #f1861d;
}
.top-slider-item .headline-price h2 {
    font-size: 16px;
    display: block;
    height: 74px;
}
.top-slider-item .headline-price p {
    font-size: 16px;
    color: #f1861d;
}
.top-slider-item .headline-price p span {
    font-weight: bold;
    margin-left: 10px;
}
.top-slider-item .inner-date {
    display: block;
    margin: 40px 0 10px;
    font-size: 15px;
}
.top-slider-item .inner-date i {
    color: #fff;
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #f1861d;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin: 0 10px;
}
.top-slider-item .slider-location {
        display: block;
    font-size: 15px;
}
.top-slider-item .slider-location i {
     color: #fff;
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #f1861d;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin: 0 10px;
}
.top-slider-item .slider-more-info {
    display: block;
    height: 40px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    border-radius: 5px;
    margin: 40px auto 0;
}
.top-slider .slick-prev {
    background: #fff;
    left: -20px;
    z-index: 10;
    height: 50px;
    width: 50px;
    border: 1px solid #f7f7f7;
    border-radius: 50%;
    box-shadow: 1px 0px 32px -15px #000000;
}
.top-slider .slick-prev:before {
    color: #f1861d;
}
.top-slider .slick-next {
    background: #fff;
    right: -20px;
    z-index: 10;
    height: 50px;
    width: 50px;
    border: 1px solid #f7f7f7;
    border-radius: 50%;
    box-shadow: 1px 0px 32px -15px #000000;
}
.top-slider .slick-next:before {
    color: #f1861d;
}

/*****************************************/
.top-search {
    height: 240px;
    background: url(../img/special-offer-bg.png) center no-repeat;
    background-size: cover;
}
/************************************************************/
main {
    margin-top: 50px;
}

.post_wrapper {
    max-width: 100%;
    border: 1px solid #e5e5e5;
    border-top: none;
    border-bottom: none;
    position: relative;
    overflow: hidden;
    margin: 0 0 32px 0;
    transition: all .30s;
    background: #fff;
    padding-bottom: 10px;
    padding-bottom: 10px;

}

.post_wrapper:hover {
    box-shadow: 0px 0px 27px -19px #000000;
    transition: all .30s;
}

.post_wrapper img {
    width: 100%;
    height: 100%;
    transition: all .80s;
}
.img_post_link {
    display: block;
    height: 220px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.img_post_link:before {
    content: " ";
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}
.img_post_link:hover .post_img {
     transform: scale(1.2);
    transition: all .80s;
}

.post_wrapper .event_date {
    position: absolute;
    top: 10px;
    left: 10px;
    display: block;
    width: 90px;
    height: 80px;
    padding: 10px 15px;
    text-align: center;
    font-size: 22px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.post_wrapper h2 {
    display: block;
    font-size: 16px;
    margin: 10px 0 10px;
    color: #000000;
    transition: all .30s;
    font-weight: 600;
    padding-left: 15px;
    border-left: 4px solid #f1861d
}
.post_wrapper h2:hover {
    color: #ff6644;
    transition: all .30s;

}
.post_link {
    color: #ff6644;
}

.post_link:hover {
    color: #0e385e;
}

/*.post_wrapper .post_text {
    color: #888888;
    font-size: 14px;
    display: block;
}*/


.event_location {
    display: block;
    color: #2e2e2e;
    font-size: 16px;


}
.location_img, .price_img, .date_calendar {
    float: left;
    height: 17px !important;
    width: 18px !important;
    margin: 5px 10px 0 15px;

}
.post-location {
    display: block;
    font-size: 15px;
}
.post-location a {
    color: #000;
}
.post-location i {
    color: #fff;
    display: inline-block;
    height: 30px;
    width: 30px;
    background: #f1861d;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    margin: 0 10px;
}



.post_wrapper .reed_more:hover {
    background: #ff6644;
    transition: all .30s;
}

.event_cat {
    position: absolute;
    top: 80px;
    left: 0;
    padding: 10px;
    background: #0e385e;
    color: #fff;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bottom_posr_descr {
    border-top: 1px solid #e8e8e8;
    background: #fff;
    padding: 10px;
}
.post_desct_tag {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 15px;
    color: #848484;
    background: #2baae1;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
}

.add_favorite {
    display: block;
    position: absolute;
    right: 30px;
    top: 170px;
    font-size: 25px;
    color: #ffffff;

}
.event_cat a {
    color: #fff;
    font-weight: bold;
}

/**************************************************************************/

.footer {
    background: url(../img/footer-bg.jpg) center no-repeat;
    background-size: cover;
    padding: 20px 0;
}

.footer h3 {
    color: #fff;
    text-align: center;
}

.footer_calendar {
    height: 200px;
    max-width: 300px;
    width: 100%;
    background: #47649b;
}

.center_footer_box {}

.footer_menu {
    text-align: center;
}

.footer_menu li {
    list-style: none;
}

.footer_menu a {
    color: #a5a5a5;
}

.footer_menu {}


.sub_menu_container {
    position: relative;
}

.sub_menu_container:before {
    font-family: 'Font Awesome\ 5 Free';
    font-weight: 900;
    content: "\f078";
    position: absolute;
    color: #2c2c2c;
    font-size: 10px;
    right: -10px;
    top: 4px;
}







.center_footer_box {}

.center_footer_box ul {}

.center_footer_box li {
    list-style: none;
    margin: 10px 5px;
}

.center_footer_box a {
    display: inline-block;
    color: #fff;

}

.center_footer_box i {
    margin-left: 10px;
}

.center_footer_box p {
    display: inline-block;
}

.center_footer_box p a {
    color: #ff6644;
}












.mobile_body_wrapper {
    position: absolute;
    top: 0;

    left: 0;

    height: 100%;
    width: 100%;
    background: transparent;
    z-index: 10;
    display: none;
    position: fixed;
    cursor: pointer;
}

.mobile_body_wrapper_open {
    display: block;
}
/****************************************/

aside {
    background: #fff;
}
.aside_calendar {
    width: 100%;
    height: 300px;
}
.aside_calendar h3 {
    text-align: center;
}
.aside_cat_list {}
.aside_cat_list ul {

}
.aside_cat_list li {
    list-style: none;
    text-align: center;
    border-bottom: 1px solid #f5ecec;
    padding: 10px
}
.aside_cat_list img {
    display: inline-block;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-right: 10px;
}
.aside_cat_list a {
    color: #717171;
}
/************************page ************************************************/


.single_post {
    background: #fff;
    padding: 10px;
}
.single_post img {
    /*max-width: 600px;*/
    width: 100%;
  /*  max-height: 400px;
    height: 100%;*/
}
.single_post figure {
    text-align: center;
}
.single_post h1 {
    text-align: left;
    font-size: 30px;
    color: #484848;
    margin-left: 20px;
}
.single_post .left_post_descr {
    margin-left: 30px;
}
.single_post li {
    list-style: none;
    margin: 10px 0;
}
.single_post i {
    margin-right: 10px;
    color: #ff6644
}
.single_post .post_text {
    margin: 50px 0;
}


.vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle;
}

