/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

    .main_menu {
        position: absolute;
        background: #ffffff;
        top: 60px;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 0%;
        position: fixed;
        text-align: left;
        transition: all .30s;
        z-index: 100;
        opacity: 0;
        padding: 10px 20px;
        border-top: 4px solid #ff3d55;
        overflow-y: auto;
        visibility: hidden;
    }
    .logo {
        margin-top: 10px;
        height: 40px;
        width: 130px;
    }
    .main_menu ul{
        height: 100%;
    }
    .main_menu li {
        display: list-item;
        padding: 10px 0;
        margin: 0;
        border-bottom: 1px solid #e5e5e5;
        background: #ffffff;
    }
    .main_menu a {
        font-size: 16px !important;
        font-weight: normal !important;
        display: block;
        height: 30px !important;
        line-height: 30px !important;
        color: #3e3e3e;
    }
    .mobile_menu_open {
        width: 70%;
        transition: all .30s;
        opacity: 1;
        visibility: visible;
    }
    .sub-menu {
        position: static;
        visibility: visible;
        opacity: 1;
        background: #000;
        z-index: 10000;
        display: none;
        transition: none;
    }
    .sub_menu_container:before {
        color: #000;
        top: 20px;
        left: 70px;
    }
    .sub-menu li {
        padding: 0;
    }
    .sub-menu li a {
        display: block;
        margin: 0;
        height: 40px;
        width: 100%;
        line-height: 40px;
        border: none;
        text-align: left;
        padding: 0 20px;
    }
    .sub-menu li {
        border-bottom: none;
    }
    .header {
        height: 60px;
    }
    .top_content {

    }

    .top_content .todays_events {
        margin: 30px auto;
    }
    .add_event {

        float: none;
        margin: 10px auto;
        background: #f91942;
        height: 40px;
        color: #fff !important;
        padding: 0 !important;
        line-height: 40px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

     .post_img {
        height: 200px !important;
        width: 100%;
    }
    .img_post_link {
        height: 200px;
    }
    .fast_day li {
        display: list-item;
    }


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
