/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1300px) {

    .post_wrapper  {
        min-height: 360px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

      .post_wrapper  {
        max-width: 400px;
          width: 100%;
          margin: 20px auto;
        min-height: 300px !important;
    }

    .main_menu {
        position: absolute;
        background: #ffffff;
        top: 60px;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 0%;
        position: fixed;
        text-align: left;
        transition: all .30s;
        z-index: 100;
        opacity: 0;
        padding: 10px 20px;
        border-top: 4px solid #ff3d55;
        overflow-y: auto;
        visibility: hidden;
    }
    .logo {
        margin-top: 10px;
        height: 40px;
        width: 130px;
    }
    .main_menu ul{
        height: 100%;
    }
    .main_menu li {
        display: list-item;
        padding: 10px 0;
        margin: 0;
        border-bottom: 1px solid #e5e5e5;
        background: #ffffff;
    }
    .main_menu a {
        font-size: 16px !important;
        font-weight: normal !important;
        display: block;
        height: 30px !important;
        line-height: 30px !important;
        color: #3e3e3e;
    }
    .mobile_menu_open {
        width: 70%;
        transition: all .30s;
        opacity: 1;
        visibility: visible;
    }
    .sub-menu {
        position: static;
        visibility: visible;
        opacity: 1;
        background: #000;
        z-index: 10000;
        display: none;
        transition: none;
    }
    .sub_menu_container:before {
        color: #000;
        top: 20px;
        left: 70px;
    }
    .sub-menu li {
        padding: 0;
    }
    .sub-menu li a {
        display: block;
        margin: 0;
        height: 40px;
        width: 100%;
        line-height: 40px;
        border: none;
        text-align: left;
        padding: 0 20px;
    }
    .sub-menu li {
        border-bottom: none;
    }
    .header {
        height: 60px;
    }
    .top_content {

    }


    .add_event {

        float: none;
        margin: 10px auto;
        background: #f91942;
        height: 40px;
        color: #fff !important;
        padding: 0 !important;
        line-height: 40px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 600px) {
    .top-slider-item .slider-descr {
        position: static;
        width: 100%;
        height: 100%;
        padding-bottom: 10px;
        padding: 20px 0 20px 0;
    }
    .top-slider {
        padding-left: 0;
    }
    .top-slider-item {
        height: 100%;
        padding: 0;
        padding: 5px;
        min-height: 510px;
        height: 100%;
    }
    .top-slider-item figure img {
        height: 200px;
        width: 100%;
    }
    .slick-next {
        top: 38%;
        right: -5px !important;
        display: none !important;
    }
    .slick-prev {
        top: 38%;
        left: -5px !important;
        display: none !important;
    }
    .top-slider-item .headline-price:before {
        height: 0;
        width: 0;
        display: none;
    }
    .top-slider-item .headline-price h2 {
        height: 100%;
        margin-bottom: 20px;
        border-left: 6px solid #f1861d;
        padding-left: 20px;
    }
    .top-slider-item .inner-date {
        padding-left: 20px;
        margin: 10px 0;
    }
    .top-slider-item .slider-location {
        padding-left: 20px;
    }
    .top-slider-item .headline-price p {
        padding-left: 34px;
    }
    .top-slider-item .slider-more-info {
        max-width: 90%;
    }
    .vcenter{
        padding: 0;
    }
    .slick-dots li button:before {
        background: #f1861d;
        color: transparent !important;
        border-radius: 50%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
